<div class="list-group">

	{{#each contentArray as |item|}}

		<div class="list-group-item">
			<button {{action 'destroyTaskInComponent' item on='click' bubbles=false}} class="badge btn">X</button>
			<div>
				<input input type="checkbox"  id="checkbox-toggle"  name="toggleCheckbox"checked={{item.complete}} {{action "toggleCheckBox" item on="change"}}>
				
				{{yield 'sectionTitle' item}}	
			</div>
			<p>{{yield 'sectionBody' item}}</p>

		</div>


	{{/each}}
</div>
